<html>
  <head> </head>
  <body>
    <h1 style="text-align: center">Hi {{name}},</h1>
    <div style="margin-left: 10%">
      <p>
        This is a confirmation of your successfull job creation on the butler
        platform.
      </p>
      <p>Just sit back now and relax, Let our team takecare of your job </p>

      <table>
        <tr>
          <td>Regards</td>
        </tr>
        <tr>
          <td>Team Butler</td>
        </tr>
      </table>
    </div>
  </body>
</html>