<html>
  <head> </head>
  <body>
   <h1 style="text-align: center">Congratulations</h1>
    <div style="margin-left: 10%">
       <h4>Hi {{name}},</h4>
      <p>
        You are being invited for {{title}}.Please find the attachment for further details
         Open application to "Accept"
      </p>
      <table>
        <tr>
          <td>Regards</td>
        </tr>
        <tr>
          <td>Team Butler</td>
        </tr>
      </table>
    </div>
  </body>
</html>